<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title></title>
  </head>
  <body>
    <h1>Edit</h1>
    <form  action="/<%=task.id%>?_method=PUT" method="POST">
      Name: <input type="text" name="name" value="<%=task.name%>" ><br>
      Due Date: <input type="date" name="dueDate" value="<%=task.dueDate%>"><br>
      Importance:
      <div class="radio-container">
        <input type="radio" id="importanceChoice1" name="importance" value="High">High
        <input type="radio" id="importanceChoice2" name="importance" value="Medium">Medium
        <input type="radio" id="importanceChoice3" name="importance" value="Low">Low
      </div>
      Description: <textarea rows="5" cols="60" name="description" ><%=task.description%></textarea><br>
      <input type="submit" value="Confirm">
    </form>
  </body>
</html>
