<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title></title>
  </head>
  <body>
    <h1>Edit</h1>
    <a href="/<%=task.id%>">Back</a>
    <form  action="/<%=task.id%>?_method=PUT" method="POST">
      Name: <input type="text" name="name" value="<%=task.name%>" ><br>
      Due Date: <input type="date" name="dueDate" value="<%=task.dueDate%>"><br>
      Importance:
      <div class="radio-container">
        <input type="radio" id="importanceChoice1" name="importance" value="Top" <% if(task.importance === 'High') { %> checked <% } %> >Top
        <input type="radio" id="importanceChoice2" name="importance" value="Moderate" <% if(task.importance === 'Medium') { %> checked <% } %>>Moderate
        <input type="radio" id="importanceChoice3" name="importance" value="Low" <% if(task.importance === 'Low') { %> checked <% } %>>Low
      </div>
      Color: <input type="color" name="color" value="<%=task.color%>"><br>
      Description: <textarea rows="5" cols="60" name="description" ><%=task.description%></textarea><br>
      Completed: <input type="checkbox" name="completed"  ><br>
      <input type="submit" value="Confirm">
    </form>
  </body>
</html>
