<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- include ('../partials/navbar.ejs') %>
    <h1>Edit</h1>
    <h2><%=data.name%></h2>
    <a href="/engineers/<%=data.id%>">Back</a>
    <form action="/engineers/<%=data.id%>/?_method=PUT" method="POST">
      <input type="text" name="name" placeholder="<%=data.name%>"><br>
      <input type="submit" value="Create">
    </form>
    <%- include ('../partials/footer.ejs') %>
  </body>
</html>
