<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- include ('../partials/navbar.ejs') %>
    <h1 class="show-title">Edit <%=data.name%></h1>
    <form action="/engineers/<%=data.id%>/?_method=PUT" method="POST">
      New Name: <input type="text" name="name" placeholder="<%=data.name%>"><br>
      <button type="submit" class="btn btn-success new-eng-button">Submit Changes</button>
    </form>
    <%- include ('../partials/footer.ejs') %>
  </body>
</html>
