<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <!-- <script src="app.js" charset="utf-8"></script> -->
    <title></title>
  </head>
  <body>
    <h1 class='bigT'>Task Manager</h1>
    <form class="" action="/new" method="get">
          <button type="submit" name="New">New</button>
    </form>
    <table>
      <thead>
        <tr class='row-header'>
          <th class='nameHeader'>Name</th>
          <th class='importanceHeader'>Priority</th>
          <th class='completedHeader'>Completed?</th>
          <th class='daysHeader'>Days Left</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < data.length; i++) { %>
          <tr>

            <td class='nameData'><%=data[i].name%></td>
            <% if (data[i].importance === 'Top') { %>
              <td class='importance high'><%=data[i].importance%></td>
            <% } else if (data[i].importance === 'Moderate') {%>
              <td class='importance medium'><%=data[i].importance%></td>
            <% } else {%>
              <td class='importance low'><%=data[i].importance%></td>
            <% } %>
            <% if (data[i].completed === true) { %>
              <td class='completed'>Yes</td>
            <% } else { %>
              <td class='completed'>Not Yet</td>
            <% } %>
            </td>
            <td class='days'><%=getNumOfDaysLeft(data[i].dueDate)%></td>
            <td><%=data[i].id%></td>
            <td class='color'><%=data[i].color%></td>
            <a class='ids' href="/<%=data[i].id%>"></a>
          </tr>
        <% } %>
      </tbody>

    </table>
    <script>
      //creates an array of data in the name column
      //USED FOR LENGTH OF LOOPS
      let nameArray = []
      $('.nameData').each((index) => {
        nameArray.push($('.nameData').eq(index).text())
      })
      //console.log(nameArray);
      // let importanceArray = []
      // $('.importance').each((index) => {
      //   importanceArray.push($('.importance').eq(index).text())
      // })
      //console.log(importanceArray);
      // let completedArray = []
      // $('.completed').each((index) => {
      //   completedArray.push($('.completed').eq(index).html())
      // })
      // console.log(completedArray);
      // let daysArray = []
      // $('.days').each((index) => {
      //   daysArray.push($('.days').eq(index).text())
      // })
      // console.log(daysArray);
      //array for building the table
      // myArray.push(nameArray, importanceArray, completedArray, daysArray)
      // console.log(myArray);
      //array of links to show
      // let linksArray = []
      // for (let i = 0; i < nameArray.length; i++) {
      //   linksArray.push($('.ids').eq(i).prop('href'))
      // }
      // console.log(linksArray);

      const makeFirstLetterCap = (string) => {
        return string.slice(0,1).toUpperCase() + string.slice(1)
        //.slice[0].toUpperCase() + string.slice(1)
      }

      //create array of objects to build table
      let myArray = []
      for (let i = 0; i < nameArray.length; i++) {
        let object = {
          name: makeFirstLetterCap($('.nameData').eq(i).html()),
          importance: $('.importance').eq(i).html(),
          completed: $('.completed').eq(i).html(),
          days: Number($('.days').eq(i).html()),
          myLink: $('.ids').eq(i).prop('href'),
          color: $('.color').eq(i).html()
        }
        myArray.push(object)
      }
      console.log(myArray);


      let directionName = 'desc'
      let directionImportant = 'asc'
      let directionComplete = 'asc'
      let directionDays = 'desc'

      const $nameHeader = $('.nameHeader')
      const $importantHeader = $('.importanceHeader')
      const $completeHeader = $('.completedHeader')
      const $daysHeader = $('.daysHeader')

      //----------------------1
      $nameHeader.on('click', () => {
        if (directionName === 'desc') {
          myArray = _.sortBy(myArray, 'name')
          directionName = 'asc'
        } else {
          myArray = _.sortBy(myArray, 'name').reverse()
          directionName = 'desc'
        }
        buildNewTable(myArray)
      })
      //----------------------2
      $importantHeader.on('click', () => {
        if (directionImportant === 'desc') {
          myArray = _.sortBy(myArray, 'importance')
          directionImportant = 'asc'
        } else {
          myArray = _.sortBy(myArray, 'importance').reverse()
          directionImportant = 'desc'
        }
        buildNewTable(myArray)
      })
      //----------------------3
      $completeHeader.on('click', () => {
        if (directionComplete === 'desc') {
          myArray = _.sortBy(myArray, 'completed')
          directionComplete = 'asc'
        } else {
          myArray = _.sortBy(myArray, 'completed').reverse()
          directionComplete = 'desc'
        }
        buildNewTable(myArray)
      })
      //----------------------4
      $daysHeader.on('click', () => {
        if (directionDays === 'desc') {
          myArray = _.sortBy(myArray, 'days')
          directionDays = 'asc'
        } else {
          myArray = _.sortBy(myArray, 'days').reverse()
          directionDays = 'desc'
        }
        buildNewTable(myArray)
      })


      const buildNewTable = (data) => {
        //remove old new body and replace with new sorted body
        $('tbody').remove()
        const $tbody = $('<tbody>').appendTo($('table'))

        for (let i = 0; i < data.length; i++) {
          const $row = $('<tr>').appendTo($tbody).css('background-color', `${data[i].color}`)
          $tdName = $('<td>').addClass('nameData').appendTo($row)
          $tdImportance = $('<td>').addClass('importance').text(data[i].importance).appendTo($row)
          $tdCompleted = $('<td>').addClass('completed').text(data[i].completed).appendTo($row)
          $tdDays = $('<td>').addClass('days').text(data[i].days).appendTo($row)
          $linkToShow = $('<a>').text(data[i].name).attr('href', data[i].myLink).appendTo($tdName)
        }
      }
      buildNewTable(myArray)

    </script>
  </body>
</html>
