<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <!-- <script src="app.js" charset="utf-8"></script> -->
    <title></title>
  </head>
  <body>
    <h1>Task Manager</h1>
    <form class="" action="/new" method="get">
          <button type="submit" name="New">New</button>
    </form>
    <table>
      <thead>
        <tr class='row-header'>
          <td>Name</td>
          <td>Importance</td>
          <td>Completed?</td>
          <td>Days Left</td>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < data.length; i++) { %>
          <tr>
            <td><a href="/<%=data[i]._id%>"><%=data[i].name%></a> </td>
            <% if (data[i].importance === 'High') { %>
              <td class='importance high'><%=data[i].importance%></td>
            <% } else if (data[i].importance === 'Medium') {%>
              <td class='importance medium'><%=data[i].importance%></td>
            <% } else {%>
              <td class='importance low'><%=data[i].importance%></td>
            <% } %>
            <td>
              <% if (data[i].completed === true) { %>
                <p>Yes</p>
              <% } else { %>
                <p>Not Yet</p>
              <% } %>
            </td>
            <td><%=getNumOfDaysLeft(data[i].dueDate)%></td>
          </tr>
        <% } %>
      </tbody>

    </table>
    <script>
      const changeColor = () => {
        $('.row-header').on('click', () => {
          $('.row-header').css('background-color','green')
        })
      }
      $(() => {
        changeColor()
      })
    </script>
  </body>
</html>
