<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <!-- <script src="app.js" charset="utf-8"></script> -->
    <title></title>
  </head>
  <body>
    <h1 class='bigT'>Task Manager</h1>
    <form class="" action="/new" method="get">
          <button type="submit" name="New">New</button>
    </form>
    <table>
      <thead>
        <tr class='row-header'>
          <th class='nameHeader'>Name</th>
          <th class='importanceHeader'>Importance</th>
          <th class='completedHeader'>Completed?</th>
          <th class='daysHeader'>Days Left</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < data.length; i++) { %>
          <tr>
            <td><a href="/<%=data[i]._id%>"><%=data[i].name%></a> </td>
            <% if (data[i].importance === 'High') { %>
              <td class='importance high'><%=data[i].importance%></td>
            <% } else if (data[i].importance === 'Medium') {%>
              <td class='importance medium'><%=data[i].importance%></td>
            <% } else {%>
              <td class='importance low'><%=data[i].importance%></td>
            <% } %>
            <td>
              <% if (data[i].completed === true) { %>
                <p>Yes</p>
              <% } else { %>
                <p>Not Yet</p>
              <% } %>
            </td>
            <td><%=getNumOfDaysLeft(data[i].dueDate)%></td>
          </tr>
        <% } %>
      </tbody>

    </table>
    <script>
      let directionName = 'desc'
      let directionImportant = 'desc'
      let directionComplete = 'desc'
      let directionDays = 'desc'
      //query table, headers, and rows
      const $table = $('table')
      const $tbody = $('tbody')

      const $nameHead = $('.nameHeader')
      const $importantHead = $('.importanceHeader')
      const $completeHead = $('.completedHeader')
      const $daysHead = $('.daysHeader')





      // $name.css('background-color', 'green')
      //add event listeners
      $nameHead.on('click', () => {
        console.log('clicked', directionName)
        if (directionName === 'desc') {
          directionName = 'asc'
        } else {
          directionName = 'desc'
        }
      })


    </script>
  </body>
</html>
