<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <!-- <script src="app.js" charset="utf-8"></script> -->
    <title></title>
  </head>
  <body>
    <h1 class='bigT'>Task Manager</h1>
    <form class="" action="/new" method="get">
          <button type="submit" name="New">New</button>
    </form>
    <table>
      <thead>
        <tr class='row-header'>
          <th class='nameHeader'>Name</th>
          <th class='importanceHeader'>Importance</th>
          <th class='completedHeader'>Completed?</th>
          <th class='daysHeader'>Days Left</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < data.length; i++) { %>
          <tr>
            <td class='nameData'><%=data[i].name%></td>  <!-- TODO: make button to show -->
            <% if (data[i].importance === 'High') { %>
              <td class='importance high'><%=data[i].importance%></td>
            <% } else if (data[i].importance === 'Medium') {%>
              <td class='importance medium'><%=data[i].importance%></td>
            <% } else {%>
              <td class='importance low'><%=data[i].importance%></td>
            <% } %>
            <% if (data[i].completed === true) { %>
              <td class='completed'>Yes</td>
            <% } else { %>
              <td class='completed'>Not Yet</td>
            <% } %>
            </td>
            <td class='days'><%=getNumOfDaysLeft(data[i].dueDate)%></td>
          </tr>
        <% } %>
      </tbody>

    </table>
    <script>
      let directionName = 'desc'
      let directionImportant = 'desc'
      let directionComplete = 'desc'
      let directionDays = 'desc'
      //query table, headers, and rows
      const $table = $('table')
      const $tbody = $('tbody')

      const $nameHead = $('.nameHeader')
      const $importantHead = $('.importanceHeader')
      const $completeHead = $('.completedHeader')
      const $daysHead = $('.daysHeader')

      //creates an array of data in the name column
      let nameArray = []
      $('.nameData').each((index) => {
        nameArray.push($('.nameData').eq(index).text())
      })
      //console.log(nameArray);
      let importanceArray = []
      $('.importance').each((index) => {
        importanceArray.push($('.importance').eq(index).text())
      })
      //console.log(importanceArray);
      let completedArray = []
      $('.completed').each((index) => {
        completedArray.push($('.completed').eq(index).html())
      })
      // console.log(completedArray);
      let daysArray = []
      $('.days').each((index) => {
        daysArray.push($('.days').eq(index).text())
      })
      // console.log(daysArray);

      //array for building the table

      // myArray.push(nameArray, importanceArray, completedArray, daysArray)
      // console.log(myArray);


      //create array of objects to build table
      let myArray = []
      for (let i = 0; i < nameArray.length; i++) {
        let object = {
          name: $('.nameData').eq(i).html(),
          importance: $('.importance').eq(i).html(),
          completed: $('.completed').eq(i).html(),
          days: $('.days').eq(i).html()
        }
        myArray.push(object)
      }
      console.log(myArray);











      // $name.css('background-color', 'green')
      //add event listeners
      $nameHead.on('click', () => {
        console.log('clicked', directionName)
        if (directionName === 'desc') {
          directionName = 'asc'

        } else {
          directionName = 'desc'
        }
      })



      const buildNewTable = (myArray) => {
        $('tbody').remove()


      }


    </script>
  </body>
</html>
