<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title></title>
  </head>
  <body>
    <%- include ('../partials/navbar.ejs') %>
    <a href="/home">Back</a><br>
    <h1> <%=task.name%></h1>
    Engineer: <p><%=engineer.name%></p><br>
    Importance: <p><%=task.importance%></p>
    <p style="background-color:<%=task.color%>;">Color </p>
    Due Date: <p><%=task.dueDate%></p>
    Days Left: <p><%=getNumOfDaysLeft(task.dueDate)%></p>
    Description: <p><%=task.description%></p>
    Completed: <p><%=task.completed%></p>
    <a href="/home/<%=task.id%>/edit">Edit</a>
    <form action="/home/<%=task.id%>?_method=DELETE" method="POST">
      <input type="Submit" value="Delete"/>
    </form>
    <%- include ('../partials/footer.ejs') %>
  </body>
</html>
