<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
    <title></title>
  </head>
  <body>
    <a href="/">Back</a><br>
    <h1> <%=task.name%> </h1>
    Importance: <p><%=task.importance%></p>
    Due Date: <p><%=task.dueDate%></p>
    Days Left: <p><%=getNumOfDaysLeft(task.dueDate)%></p>
    Description: <p><%=task.description%></p>
    Team: <p><%=task.team%></p>
    Completed: <p><%=task.completed%></p>
    <a href="/<%=task.id%>/edit">Edit</a>
    <form action="/<%=task.id%>?_method=DELETE" method="POST">
      <input type="Submit" value="Delete"/>
    </form>
  </body>
</html>
